body {
  background-color:  rgb(195, 195, 195);
  color: white;
}

.column-before {
  text-align: center;
  float: left;
  margin-left: 100px;
}

.column-after {
  text-align: center;
  float: right;
  margin-right: 100px;
}

img {
  height: 500px;
  width: 600px;
}
